<!DOCTYPE html>
<html lang= "en"> 
<head>
	<meta charset="UTF-8">
	
	<title>Memory Game</title>

	<link rel="assets/stylesheets" href="application.css">
</head>
	
<body>
	<section class= "memory-game">
		<div class= "memory-card" data-framework="sun">
			<img class="front-face" src="<%= image_url('logos/sun.jpg') %>"alt="sun" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="sun" />
		</div>
		<div class= "memory-card" data-framework="bird">
			<img class="front-face" src="<%= image_url('logos/bird.jpg') %>" alt="bird" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>"alt="Memory Card" />
		</div>

		<div class= "memory-card" data-framework="cat">
			<img class="front-face" src="<%= image_url('logos/cat.jpg') %>" alt="Cat" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="Memory Card" />
		</div>

		<div class= "memory-card" data-framework="fish">
			<img class="front-face" src="<%= image_url('logos/fish.jpg') %>" alt="Fish" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="Memory Card" />
		</div>

		<div class= "memory-card" data-framework="heart">
			<img class="front-face" src="<%= image_url('logos/heart.jpg') %>" alt="Heart" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="Memory Card" />
		</div>

		<div class= "memory-card" data-framework="Owl">
			<img class="front-face" src="<%= image_url('logos/owl.jpg') %>" alt="Owl" width="100"/>
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="Memory Card" />
		</div>

		<div class= "memory-card" data-framework="Bird">
			<img class="front-face" src= "<%= image_url('logos/bird.jpg') %>"alt="Bird"  width="100" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="Memory Card" width="100"/>
		</div>

		
		<div class= "memory-card" data-framework="Cat">
			<img class="front-face" src="<%= image_url('logos/cat.jpg') %>" alt="Cat" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="Memory Card" />
		</div>

		<div class= "memory-card" data-framework="Fish">
			<img class="front-face" src="<%= image_url('logos/fish.jpg') %>" alt="Fish" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="Memory Card" />
		</div>

		<div class= "memory-card" data-framework="heart">
			<img class="front-face" src="<%= image_url('logos/heart.jpg') %>" alt="Heart" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="Memory Card" />
		</div>

		<div class= "memory-card" data-framework="Owl">
			<img class="front-face" src="<%= image_url('logos/owl.jpg') %>" alt="Owl" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="Memory Card" />
		</div>

		<div class= "memory-card" data-framework="Sun">
			<img class="front-face" src="<%= image_url('logos/sun.jpg') %>" alt="Sun" />
			<img class="back-face" src="<%= image_url('logos/X.jpg') %>" alt="Memory Card" />
		</div>

	</section>
</body>

</html>
